.card {
    border-radius: 25px;
    
    padding: 25px 25px;
    background-color: #d324b0;
    margin: 50px 50px 50px 50px;
    height: 400px;
    width: 400px;
    box-shadow: 0 2px 5px #484545;
    text-align: center;
    display: inline-block;
  }
  .img{
    width:100px;
    height: 100px;
    border-style: solid;
    border: 5px;

    border-color:antiquewhite ;
    border-radius: 50px;
    
  }
  h1, h2, h3{
    background-color: #d324b0;
    
  }
  h1{
    color: white;
  }
  h2,h3{
    color:antiquewhite;
  }

  